<div class="advantage">
	<div class="advantage-wrapper">
		<div class="advantage-bg">
			<div class="bg-img">
				<img class="owl-lazy" data-src="images/catalog-main-page/@@img.png">
			</div>
		</div>
		<div class="advantage-desc">
			@@desc
		</div>
		<div class="advantage-but">
			<a href="@@href"><div class="btn_3">Подробнее</div></a>
		</div>
	</div>
	<div class="advantage-but-two">
		<a target="_blank" href="@@download.pdf"><div class="btn_4">СКАЧАТЬ ПРАЙС</div></a>
	</div>

	<div class="show-modal-window">
		<div class="modal-window-title">@@modal-title</div>
		<div class="modal-window-desc">@@modal-desc</div>
	</div>	
					
</div>