<div class="advantage">
	<div class="advantage-wrapper">
		<div class="advantage-bg">
			<div class="bg-img">
				<img class="owl-lazy" data-src="images/img-provoloki/@@img">
			</div>
		</div>
		<div class="advantages-name">
			<span>@@name</span>
		</div>
		<div class="advantage-desc">
			@@desc
		</div>
		<div class="advantages-price">
			<span>@@price</span>
		</div>
		<div class="advantage-but">
			<div class="btn_3 show-modal" modal=".more-content">Подробнее</div>
		</div>
	</div>
	<div class="advantage-but-two">
		<a target="_blank" href="@@download.pdf"><div class="btn_4">СКАЧАТЬ ПРАЙС</div></a>
	</div>	

	<div class="show-modal-window">
		<div class="modal-window-title">@@modal-title</div>
		<div class="modal-window-desc">@@modal-desc</div>
	</div>					
</div>