@@include('header.html', {
	"title": "Полимер 96 – производство и продажа ПНД труб и пленки. Тюмень",
	"desc": "Купить ПНД трубы и пленку в Тюмени. Самые оптимальные цены. Множество вариантов оплаты и доставки.",
	"h1": "Полимер 96 – производство и продажа ПНД труб и пленки. Тюмень",
	"css": [
		"template"
	]
})	

<div class="modules">
	@@include('site/modules/header-nav/module.html')
	@@include('site/modules/bunner-slider-1/module.html')
	@@include('site/modules/about-company/module.html')
	@@include('site/modules/catalog/module.html')
	@@include('site/modules/job-us-section/module.html')
	@@include('site/modules/bunner-slider-2/module.html')
	@@include('site/modules/oplata-section/module.html')
	@@include('site/modules/dostavka-section/module.html')
	@@include('site/modules/sertificate/module.html')
	@@include('site/modules/module-contacts-1/module.html')
	@@include('site/modules/company-info/module.html')
	@@include('site/modules/map-section/module.html')
</div>

@@include('site/widgets/modal/widget.html')	
@@include('site/widgets/photoswipe/widget.html')	
<footer>
@@include('site/modules/footer-1/module.html')	
</footer>


@@include('footer.html', {
	"js": [
		"template"
	]
})
