@@include('header.html', {
	"title": "Полимер 96 – парниковая ПНД пленка. Пленка для теплиц. Тюмень.",
	"desc": "Купить парниковую пленку ПНД в Тюмени. Лучшее решение для накрытия теплицы. От 80 до 200 мкм.",
	"h1": "Юрист Тюмень. Защита прав потребителей",
	"css": [
		"template"
	]
})	

<div class="modules">
	@@include('site/modules/header-nav/module.html')
	@@include('site/modules/bunner-slider-1/module-4.html')
	@@include('site/modules/advantages-module-2/module.html')
	@@include('site/modules/catalog-3-page-3/module-2.html')
	@@include('site/modules/oplata-section/module.html')
	@@include('site/modules/dostavka-section/module.html')
	@@include('site/modules/sertificate/module.html')
	@@include('site/modules/module-contacts-1/module.html')
	@@include('site/modules/company-info/module.html')
	@@include('site/modules/map-section/module.html')
</div>
@@include('site/widgets/modal/widget.html')	
@@include('site/widgets/photoswipe/widget.html')
<footer>
@@include('site/modules/footer-1/module.html')	
</footer>


@@include('footer.html', {
	"js": [
		"template"
	]
})
